* {
    margin: 0;
    padding: 0;
}



h1 {
    background-color: #2F4F4F;
    color: #fff;
    text-align: center;
    height: 4rem;
    line-height: 4rem;


}

.Choice {
    height: 200px;
    width: 200px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;       
    border: 5px solid #000000
; 
    transition: 0.3s ease;
    
    
}

.Choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: -2;
   
}

.Choice:hover {
    opacity: 0.5;
    cursor: pointer;
    
    
}

.Score-Board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
    text-align: center;
}

#User-Score , #Computer-Score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    border: 1rem;
}

#msg {
    background-color: #2F4F4F;
    color: white;
    height: 3rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 10px;
    line-height: 3rem;
    
    
}
